%btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: $primary-color;
    color: $btn-text-color;
    font-size: 15px;
    border-radius: 5px;

    &:hover{
        opacity: 0.8;
    }
}

.mobile-menu-btn{
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;

    &:hover{
        opacity: 0.5;
    }
}

.msg{
    .button-primary{
        @extend %btn;
    }
}

