* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    text-transform: uppercase;
    margin-bottom: 15px;
}


a {
    text-decoration: none;
    color: $primary-color;
}

canvas{
    max-width: 100vw;
}


.profile-image {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.traffic,
.daily-traffic,
.mobile,
.social-stats,
.new-members,
.recent,
.msg,
.settings {
    padding: 20px;
    // border-width: thin;
    border: thin solid grey;

}

.traffic,
.mobile,
.social-stats,
.recent,
.settings {
    border-left: none;
    border-right: none;
}

.traffic,
.daily-traffic,
.mobile,
.social-stats,
.recent,
.new-members {
    border-bottom: none;
}

.traffic,
.daily-traffic,
.mobile {
    padding: 25px;
}

.mb-3 {
    margin-bottom: 30px;
}

.text-center {
    text-align: center;
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

