.dashboard-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;


    .dashboard-title {
        border-right: 2px solid red;
        padding: 25px 20px;
        display: none;
    }

    .dashboard-search {
        position: relative;
        width: 350px;
        display: block;

    }

    .input {
        border: 1px solid gray;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        outline: none;
        color: $primary-color;
        border-radius: 5px;
    }

    .fas {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        right: 1px;
        font-size: 25px;
        color: $primary-color;
    }
}