.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
    
    


    .dashboard-title {
        border-right: 2px solid red;
        padding: 25px 20px;
        display: none;
        text-transform: capitalize;
       
    }

    .dashboard-search {
        position: relative;
        width: 350px;
        

    }

    .input {
        border: 1px solid gray;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        outline: none;
        color: $primary-color;
        border-radius: 5px;
    }

    .fas {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        right: 1px;
        font-size: 25px;
        color: $primary-color;
    }

    .alert{
        // align-self: flex-end;
        order: 1;
    }

    .alert-banner{
        width: 100%;
        position: relative;
        padding: .75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: .25rem;
        color: $white;
        background: $primary-color;

        &-close{
            position: absolute;
            top: 0;
            right: 0;
            padding: .75rem 1.25rem;
        }
    }

}

