header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $primary-color;
    height: 90px;
    padding: 20px;

    h1 {
        text-transform: capitalize;
        color: $white;
        position: relative;

        .app {
            font-weight: 200;
        }

        .trade {
            position: absolute;
            font-size: 15px;
            top: 5px;
            right: -12px;
        }
    }

    .profile {
        width: 30px;
    }
}