// Base layout
.grid {
    display: grid;
    max-width: 1300px;
    margin: 0 auto;
    grid-template-columns: 100%;
    grid-template-rows: auto;

    grid-template-areas:
        "h"
        "n"
        "main";
}

header {
    grid-area: h;
}

nav {
    grid-area: n;
}

main {
    grid-area: main;
}

//Adapt to different screen sizes
@media(min-width: 768px) {

    .dashboard-header,
    .traffic,
    .social-stats {
        grid-column: 1 / span 2;
    }

    .daily-traffic,
    .new-members,
    .msg {
        grid-column: 1 / span 1;
    }

    .mobile,
    .recent,
    .settings {
        grid-column: 2 / span 1;
    }

    // Header
    header {
        .bell {
            display: flex;
            align-items: center;

            .bell-icon {
                margin-right: 25px;
            }
        }

        h3 {
            color: $white;
            margin-bottom: 0px;
            text-transform: capitalize;
        }
    }

    //  Mobile Nav
    .mobile-nav {
        display: none;
    }

    .mobile-menu-btn {
        display: none;
    }

    //Desktop Nav
    .desktop-nav {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        // align-items: center;
    }

    // Dashboard header
    .dashboard-header {
        justify-content: space-between;

        .dashboard-title {
            display: block;
        }
    }

    //Traffic
    .traffic{
        
        .traffic-header{
            flex-direction: row;
            align-items: center;

            h3{
                margin-bottom: 0;
            }

            .traffic-nav{
                margin: 0;
            }
        }
    }

    //Main
    main {
        display: grid;
        grid-template-columns: 50%;
    }

    // Widgets
    .widget-container-full {
        width: 90vw;
    }

    .widget-container-half {
        width: 45vw;
    }

    //Social stats
    .social-stats {
        .flex-row {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
        }
    }

    //New members 
    .new-members {

        .mem-date {
            display: block;
        }
    }

    // Recent Activity
    .recent {

        .recent-text {
            margin-right: 20px;
        }

        i {

            display: block;
        }
    }

    //Message
    .msg {
        .text-center {
            text-align: left;
        }

        input,
        textarea,
        button {
            width: 100%;
        }
    }

    // Settings
    .settings {

        // width: 80%;
        h3 {
            text-align: left;
        }

        .flex {
            width: 100%;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            text-align: left;

            p {
                margin-right: 20px;
            }

        }

        select,
        .settings-button {
            width: 100%;
        }

        .settings-button {
            display: flex;
        }
    }
}


@media(min-width: 1024px) {
    .grid {
        grid-template-columns: 100px 1fr;
        grid-template-areas:
            "h h"
            "n main"
        ;

        .desktop-nav {
           height: calc(100vh - 90px);
           display: flex;
           flex-direction: column;
           justify-content: flex-start;
           align-items: center;
            
            img{
                padding-bottom: 30px;
            }
            

        }
        

        // // Widgets
        // .widget-container-full {
        //     width: 200px;
        // }

        // .widget-container-half {
        //     width: 200px;
        // }

    }
}