// Base layout
.grid {
    position: relative;
    display: grid;
    max-width: 1400px;
    margin: 0 auto;
    grid-template-columns: 100%;
    grid-template-rows: auto;

    grid-template-areas:
        "h"
        "n"
        "main";
}

header {
    grid-area: h;
}

nav {
    grid-area: n;
}

main {
    grid-area: main;
}

.widget-container-full,
.widget-container-half {
    width: 85vw;
}

//Adapt to different screen sizes
@media(min-width: 768px) {

    .dashboard-header,
    .traffic,
    .social-stats {
        grid-column: 1 / span 2;
    }

    .daily-traffic,
    .new-members,
    .msg {
        grid-column: 1 / span 1;
    }

    .mobile,
    .recent,
    .settings {
        grid-column: 2 / span 1;
    }

    // Header
    header {
        .bell {
            display: flex;
            align-items: center;

            .bell-icon {
                margin-right: 25px;
            }
        }

        h3 {
            color: $white;
            margin-bottom: 0px;
            text-transform: capitalize;
        }
    }

    //  Mobile Nav
    .mobile-nav {
        display: none;
    }

    .mobile-menu-btn {
        display: none;
    }

    //Desktop Nav
    .desktop-nav {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        // align-items: center;
    }

    // Dashboard header
    .dashboard-header {
        justify-content: space-between;
        padding: 0 20px 0 0;

        .dashboard-title {
            display: block;
            padding: 30px 20px 30px 20px;

        }
    }

    //Traffic
    .traffic {

        .alert-banner{

            &-close{
                padding: .75rem 1.25rem;
            }
        }

        .traffic-header {
            flex-direction: row;
            align-items: center;

            h3 {
                margin-bottom: 0;
            }

            .traffic-nav {
                margin: 0;

                .traffic-nav-link {
                    padding: 0px 25px;

                    &.active {
                        background: $neon-green;
                        padding: 7px 25px 7px 25px;
                        color: $white;
                        border-radius: 100px;
                    }
                }
            }
        }
    }

    //Main
    main {
        display: grid;
        grid-template-columns: 50%;
    }

    // Widgets
    .widget-container-full {
        width: 80vw;
        margin: auto;
           position: relative;
    }

    .widget-container-half {
        width: 45vw;
    }

    //Social stats
    .social-stats {
        .flex-row {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
        }
    }

    //New members 
    .new-members {

        .mem-date {
            display: block;
        }
    }

    // Recent Activity
    .recent {

        .recent-text {
            margin-right: 20px;
        }

        i {

            display: block;
        }
    }

    //Message
    .msg {
        .text-center {
            text-align: left;
        }

        input,
        textarea,
        button {
            width: 100%;
        }
    }

    // Settings
    .settings {

        // width: 80%;
        h3 {
            text-align: left;
        }

        .flex-center {
            align-items: flex-start;
        }

        .flex {
            width: 60%;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            // text-align: left;

            p {
                margin-right: 10px;
                // text-align: left;
            }
        }

        select,
        .settings-button {
            width: 100%;
        }

        .settings-button {
            display: flex;
        }
    }
}


@media(min-width: 1024px) {
    .grid {
        grid-template-columns: 100px 1fr;
        grid-template-areas:
            "h h"
            "n main"
        ;

        header {
            position: sticky;
            z-index: 1;
            top: 0;
            width: 100%;
        }

        .desktop-nav {
            position: sticky;
            top: 90px;
            width: 100px;
            height: calc(100vh - 90px);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            img {
                padding-bottom: 30px;
            }
        }

        // Widgets

        .widget-container-full {
            width: 65vw;
            margin: auto;
            position: relative;
        }

        .widget-container-half{
            width: 32.5vw;
            margin: auto;
            position: relative;
        }
    }
}