// Base layout
.grid {
    display: grid;
    max-width: 1400px;
    margin: 0 auto;
    grid-template-columns: 100%;
    grid-template-rows: auto;

    grid-template-areas:
        "h"
        "n"
        "main";
}

header {
    grid-area: h;
}

nav {
    grid-area: n;
}

main {
    grid-area: main;
}

//Adapt to different screen sizes
@media(min-width: 768px) {
    header {
        .bell {
            display: flex;
        }
    }

    .desktop-nav {
        display: block;
    }

    main {
        display: grid;
        grid-template-columns: 50%;
    }

    .dashboard-header,
    .traffic,
    .social-stats {
        grid-column: 1 / span 2;
    }


    .daily-traffic,
    .new-members,
    .msg {
        grid-column: 1 / span 1;
    }

    .mobile,
    .recent,
    .settings {
        grid-column: 2 / span 1;
    }

    //Social stats
    .social-stats {

        .flex-row {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
        }

    }

    //New members 
    .new-members {

        .mem-date {
            display: block;
        }
    }

    // Recent Activity
    .recent {

        .recent-text {
            margin-right: 20px;
        }

        i {

            display: block;
        }
    }


    //Message
    .msg {

        input,
        textarea,
        button {
            width: 100%;
        }
    }


    // Settings
    .settings {

        // width: 80%;
        h3 {
            text-align: left;
        }

        .flex {
            width: 100%;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            text-align: left;

            p {
                margin-right: 20px;
            }

        }

        select,
        .settings-button {
            width: 100%;
        }

        .settings-button {
            display: flex;
        }
    }







    //  not displaying at this breakpoint and up
    .mobile-nav {
        display: none;
    }

    .mobile-menu-btn {
        display: none;
    }
}


@media(min-width: 1024px) {
    .grid {
        grid-template-columns: 100px 1fr;
        grid-template-areas:
            "h h"
            "n main";

    }
}