
.msg {
    padding-top: 20px;

    input,
    textarea,
    button {
        width: 250px;
        padding: 9px;
        border-radius: 5px;
    }

    .widget-container>* {
        margin: 15px;
    }


}