nav {
    img {
        width: 30px;
    }
}

// Do not display on mobile view
.desktop-nav {
    
    display: none;
    background: $nav-color;
    // height: 50px;
}
//mobile nav is not functioning properly now. dont know what changed
.mobile-nav {
    background:$nav-color;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    max-width: 219px;
    height: 100vh;
    border-right: #000 1px solid;
    // opacity: 0.9;
    padding: 30px;
    transform: translateX(-500px);
    z-index: 1;
    
    .nav-icons{
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        img{
            width: 50px;
        }
    }

    .mobile-nav-profile{
        display: flex;
        font-size: 14px;
        margin-bottom: 50px;
                
    }
}

.mobile-nav.show{
    transform: translateX(0);
    
}