.social-stats {
    display: flex;
    flex-direction: column;
    align-items: center;

    .social-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        max-width: 250px;
        padding: 20px;
        background: #fff;
        border-radius: 3px;
        background: $grayish;
        margin-bottom: 20px;
        box-shadow: 0 14px 8px rgba(0, 0, 0, 0.2);
    }

    .social-image {
        margin-right: 10px;
    }

    .social-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 3rem;
    }

    .social-title {
        color: $primary-color;
        text-transform: capitalize;
        font-size: 1rem;
        margin-bottom: -10px;
    }
}